---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

@import "minimal-mistakes"; // main partials

.book {
  clear: both;
  margin-bottom: 1em;
}
.book IMG {
  margin-bottom: 1em;
}